body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 14px;
  }


.table{
  width: 50%;
  margin: auto auto;
  margin-top: 20px;
  text-align: center;
}

.table-buttons-container{
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
}